body{
  margin: 0;
  padding: 0;
}
.container{
  text-align: center;
  margin-top: 340px;
}
.btn{
  border: 2px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 22px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s; /*  علشان الازرار تظهر بشكل سلس تدريجيا كدا و ال 8 من عشرة ثانية دا اللي بيتعمل فيهم البادينج و المارجين و كل التعديلات اللي علي الازرار بتحصل كلها مع بعض في 08 ثانية و اللون و كل الستايل اللي بيحصل للزرار بيحصل في 0.8 ثانية فيكون شكلها جميل */
  position: relative; /* علشان دا يعتبر الاب او الكونتينر اللي هيحتوي الحاجة اللي واخدة بوزيشن ابستراكت فعلشان نقولو متطلعش برا الاب دا او برا الكونتينر دا و الحدود بتعك هوا دا بنديلو بوزيشن ريليتف */
  overflow: hidden;
}
.btn1,.btn2{
  color: #3498db;
}
.btn3,.btn4{
  color: #fff;
}
.btn1:hover,.btn2:hover{
  color: #fff;
}
.btn3:hover,.btn4:hover{
  color: #3498db;
}

.btn::before{
  content: "";
  position: absolute; /* دا الابن علشان كدا هديلة بوزيشن ابستراكت علشان ميطلعش برا الاب اللي هيدلو بوزيشن ريلاتيف */
  left: 0;
  width: 100%;
  background: #3498db;
  z-index: -1; /* بخلي الزد اندكس اقل من الطبيعي علشان لما تظهر تظهر ورا الكلام اللي مكتوب في الزرار مش لما تظهر تخبي علي الكلام فالديفولت بتاع الكلام زد اندكي 0 فخلينا هنا الزد انكس -1 علشان يكون اقل من الكلام فيظهر وراه و خلينا الكلام الباك جراوند بتعتو نون يعني شفاف علشان نبقي نشوف اللي هيظهر ورا الكلام لاننا لو ادينا للكلام باك جروند مش هنشوف اللي هيظهر هنا */
  transition: 0.8s; /* علشان لما التاثير يضهر ياخد 0.8 ثانية و كمان لما التاثير يختفي ياخد 0.8 علي ما يختفي و كمان لما لون الكلام يتغير برضو ياخد 0.8 و لما لون الكلام يرجع لاصلو برضو ياخد 0.8 ثانية وهاكذا يعني اي تغير او اي ستايل يحصل للزرار او للي واخد الكلاس دا يستغرق 0.8 ثانية */
}
.btn1::before,.btn3::before{
  top: 0; /* بخلي محازاه اللون او الكونتينت اللي هياخد استايلو لما اعمل هافر من فوق فبالتالي البداية من فوق */
  border-radius: 0 0 50% 50%; /* علشان اخلي الكيرف من فوق علي الشمال صفر و من فوق علي اليمين 0 و من تحت يمين و شمال يكون واخد كيرف زي الدايرة و بيكون شكلها جميل لما اعمل معاها الترانسيشن كذا سانية فبتبان */
    /* خلي بالك فوق هنا انت اديت الوردر ريديوس دي للعنصر البيقور مش للزرار نفسو */
}
.btn2::before,.btn4::before{
  bottom: 0; /* بخلي محازاه اللون او الكونتيتنت اللي هيتعمل من تحت فبالتالي البداية من تحت */
  border-radius: 50% 50% 0 0;
}
.btn3::before,.btn4::before{
  height: 180%; 
}

.btn1::before,.btn2::before {
    height: 0% /* علشان يبدا يتحرم من 0 ل 100 في المية و التنزيشن يكون مفعولو جميل لكن لو شلت هنا هتلاقية تحرك ل 100 في المية علي طول كدا مش جة من فوق لتحت بنسيابية  */
}

/* يعني لما اعمل هافر اعملي التنسيقات دي كدا في البيفور او الكونتينت اللي هيتضاف بيفور */
.btn1:hover::before,.btn2:hover::before{
  height: 180%; /*  */
}
.btn3:hover::before,.btn4:hover::before{
  height: 0%;
}
